@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a font stack with common system fonts */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #F4F7FA;
  color: #212121;
}